# logs
logs
*.log
npm-debug.log*

# dependency directories
node_modules
jspm_packages

# npm cache directory
.npm

# REPL history
.node_repl_history
.DS_Store

# build directory
public/

# environment variables
.env

# keys
id_rsa_priv.pem